.task-list
  *
    font-family: "San Francisco", Helvetica, sans-serif
  margin: 2em
  h2
    margin-top 4em
    font-size 1.2em
    .prefix
      color #aaa
      font-weight 200
  ul
    list-style none
    padding-left 0
  li a
    text-decoration: none
    display block
    padding 0.5em 1em
    margin-bottom 0.8em
    border-radius 4px
    background-color: lighten(dodgerblue,90%)
    border 2px solid lighten(dodgerblue, 80%)
    color: #444
    &:hover
      background-color: lighten(dodgerblue,50%)
      color: white

svg {
  -webkit-backface-visibility: hidden;
  -webkit-transform: translateZ(0) scale(1.0, 1.0);
  transform: translateZ(0);
}
