/*
For some annoying reason this appears to be the only way
we can get Parcel to do global styles
*/

html, body, .figure-container-outer
  margin: 0px
  width: 100%
  background-color: white
  position relative

.figure-container-outer
  padding 0px 0px
  height 100vh
  width 100vw
  &.is-printing
    margin-top 0px
    padding-top 0px

.app-main
  display flex
  flex-direction column
  height 100vh
  width 100vw

.figure-container-inner
  display: block
  margin 0
  transform-origin 0px 0px
  overflow auto

.figure-container
  position absolute
  bottom 0
  left 0
  right 0
  top 38px
  padding 20px
  min-width 100vw
  &.is-printing
    top 0
    padding 0
    position relative
    min-width inherit
  margin 0px
  overflow: scroll
  .error-overlay
    margin-top 0
    padding 0

*
  box-sizing border-box

button_margin = 6px

.toolbar-disabled
  .figure-container
    top 0


.ui-controls, .ui-controls-hidden
  position: fixed
  width: 100vw
  top 0
  right 0
  left 0
  z-index 1000
  &.is-printing
    display none

.error-overlay
  margin-top 38px
  padding 20px
  &.no-task
    padding 0px
    padding-top 38px
    height: 100vh
    margin: 0 auto
    text-align center
    width 20em

.ui-controls-hidden
  height: 50px
  .toolbar-toggle-button
    display: none
    position absolute
    top 4px
    right 4px
  &:hover .toolbar-toggle-button
    display: flex

.ui-controls, .progress, .ui-controls-hidden, .error-overlay, .app-toaster
  :global
    // These are actually symlinked CSS files
    @require "../vendor/blueprint.styl"
  *
    font-family: "San Francisco", Helvetica, sans-serif !important
  pre
    font-family: monospace !important

.progress
  margin 2em auto
  padding-top 2em
  text-align center
  max-width 6em
  color #aaa
  p
    margin-top 2em

.usage
  display flex
  flex-direction row
  h3
    margin-right 1em
    color: #5C255C


.ui-controls
  // Allows dragging the Electron app
  -webkit-app-region: drag
  display: flex
  padding-right: 12px
  height:38px
  width 100vw
  align-items: center
  flex-direction row
  justify-content space-between
  user-select none
  &.fullscreen
    .left-buttons
      margin-left button_margin
  a
    text-decoration: none
    cursor: pointer
  *
    font-weight: 400
  h1
    font-weight: 500
    color #aaa
    font-size: 14px
    flex 1
    margin-bottom 0
    margin-top 0
    a
      color: #444
      &:hover
        color: black
  background-color: #eee
  border-bottom: 1px solid #ccc

  button:focus
    outline: none

  .right-buttons
    button
      margin-right: button_margin
    margin-right: button_margin*-1

  .left-buttons
    display flex
    margin-left: 80px
    align-items: baseline
    &>*
      display block
      margin-right: button_margin
    margin-right: button_margin*-1

.element-container
  width 100%
  overflow auto

.error
  .origin
    text-align right
  pre
    color: #A82A2A
    overflow-x scroll
  details
    summary
      color #A82A2A
      font-weight 600
      cursor pointer
      padding 0.2em 0.4em
      border-radius 0.2em
      user-select false
      &:hover
        background-color lighten(#FF7373, 20%)
      &:focus
        outline: none

.app-toaster
  margin-top 38px
  position fixed
  right 0px
  top 0px
  width 20em
  padding 12px
  &>:first-child
    margin-top 0
  &>*
    margin-top 5px

@media print
  .ui-controls, .app-toaster
    display none
  .figure-container-outer
    padding 0 !important
  @page
    margin 0px
